.copy::after {
  content: 'Texto copiado com sucesso!';
  position: absolute;
  top: 15px;
  left: 15px;
  color: white;
  background-color: blueviolet;
  border-radius: 30px;
  height: 50px;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  opacity: 0;
  animation: aparecendo 1s;
}

@keyframes aparecendo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#busca {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: solid black 2px;
  width: 100px;
  color: black;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  gap: 5px;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Import da fonte TT Supermolot Neue */
@import url('https://fonts.googleapis.com/css2?family=TT+Supermolot+Neue:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'TT Supermolot Neue', sans-serif;
}

/* Estilo global */
body {
  background: url('https://lh3.google.com/u/0/d/1nGy07grUZwcF6Jdmpjts1DVa2jMG_JIL=w1868-h903-iv2')
    no-repeat bottom left;
  background-size: cover;
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

body::after {
  content: '';
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: -100;
}

/* Estilo do contêiner principal */
main {
  position: relative;
  gap: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 30px;
  min-height: 400px;
}

/* Estilo da lista sem marcadores */
ul {
  list-style: none;
}

/* Estilo dos itens da lista */
li {
  margin-top: 10px; 
  width: 300px;
  font-weight: bold;
  font-size: 20px;
  gap: 15px;
  display: flex;
  justify-content: space-between;
}

li > span {
  cursor: pointer;
}

/* Estilo do campo de entrada de número de loja */
#CE {
  padding: 5px 0;
  outline: 0;
  border: 0;
  font-size: 16px;
  min-width: 100%;
}

/* Estilo das informações da loja */
li > span{
  color: var(--identifica);
}

#infos {
  width: 300px;
  hyphens: auto;
  word-wrap: break-word;
}

#sobre {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  font-weight: bold;
  font-size: 20px;
}

#ips {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

#PDVs{
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
}

#PDVs > option{
  background-color: #000;
}

button {
  border: solid;
  padding: 5px;
  cursor: pointer;
  font-size: 19px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  text-align: center;
}

#Btnwhats{
  background-color: #25D366;
}

#BtnCopy{
  background-color: #0298ff;
}

#BtnEmail{
  background-color: red;
}